<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hauteur de la Loire</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Capteur</th>
          <th scope="col">Date</th>
          <th scope="col">Hauteur</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in liste %}
            <tr>
                <td>{{ doc.end_device_ids.device_id }}</td>
                <td>{{ doc.received_at }}</td>
                <td>{{ doc.uplink_message.decoded_payload.haut }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center text-muted">Aucune donnée disponible</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>